{% extends 'users/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Вход</h1>
        <hr>

        {% if form.errors %}
            <p class="error-message">{{ form.errors.error }}</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Войти</button>
            <a href="{% url 'register' %}">Нет аккаунта? Тыкай для регистрации :)</a>
            <a href="{% url 'home' %}">Домой</a>
        </form>
    </div>
{% endblock %}
