{% extends 'main/layout.html' %}


{% block title %}Про магазин{% endblock %}

{% block content %}
    <main class="label">
        <h1>Про магазин</h1>
    </main>
    <div class="info">
        <p>Мы - магазин манги, где вы найдете широкий выбор самых популярных и редких манговых серий. Наш ассортимент постоянно обновляется, чтобы удовлетворить вкусы самых требовательных читателей.
            На сайте вы можете посмотреть наличие нашей манги и использовать помощника для подбора манги по жанрам на ваш вкус.</p>
        <h2>Контакты</h2>
        <p>Email: info@managoshop.com</p>
        <p>Телефон: +7 (123) 456-78-90</p>
        <p>Адрес: Москва, ул. Манга 123</p>
    </div>
{% endblock %}