{% extends 'main/layout.html' %}

{% block title %}Новости по манге{% endblock %}

{% block content %}
    <main class="label">
        <h1>Новости по манге</h1>
    </main>
    <div class="info">
        <div class="find_new">
        <form method="get" action="">
            <input type="text" name="q" placeholder="Поиск новостей по манге...">
            <input type="submit" value="Найти">
        </form>
    </div>
    {% for news in manga_news %}
            <div class="news-item">
                <h2 class="anons">{{ news.anons }}</h2>
                <div class="full-text" style="display: none;">{{ news.full_text }}</div>
            </div>
    {% endfor %}
    </div>

{% endblock %}